[type='checkbox'],
[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  color: #2563eb;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  --tw-shadow: 0 0 #0000;
}

[type='checkbox']:checked,
[type='radio']:checked {
  border-color: transparent;
  /* background-color: rgb(79 70 229 / var(--tw-text-opacity)); */
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

[type='checkbox']:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */

@font-face {
  font-family: 'Neue Montreal', sans-serif;
  src: url(/fonts/bold.otf) format('opentype');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal', sans-serif;
  src: url(/fonts/bold-italic.otf) format('opentype');
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Montreal', sans-serif;
  src: url(/fonts/medium.otf) format('opentype');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal', sans-serif;
  src: url(/fonts/medium-italic.otf) format('opentype');
  font-display: swap;
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Montreal', sans-serif;
  src: url(/fonts/regular.otf) format('opentype');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal', sans-serif;
  src: url(/fonts/italic.otf) format('opentype');
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Montreal', sans-serif;
  src: url(/fonts/light.otf) format('opentype');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal', sans-serif;
  src: url(/fonts/light-italic.otf) format('opentype');
  font-display: swap;
  font-weight: 300;
  font-style: italic;
}

*,
html {
  font-family: 'Neue Montreal', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  scroll-behavior: smooth !important;
}

:root {
  --default-primary: #4e46e5; /*  Changed from #90f188 */
  --default-primary-text: #23bb16;
  --default-secondary: #0f1d07;
  --default-text: rgba(15, 29, 7, 0.7);
  --default-tertiary: #f3f3e9;
  --green-primary: #90f188;
  --green-primary-text: #23bb16;
  --green-secondary: #0f1d07;
  --green-text: rgba(15, 29, 7, 0.7);
  --green-tertiary: #e9ffe8;
  --purple-primary: #a5b3fc; /*  Changed from #b488f1 */
  --purple-primary-text: #5b16bb;
  --purple-secondary: #12032a;
  --purple-text: rgba(18, 3, 42, 0.7);
  --purple-tertiary: #efe3ff;
  --pink-primary: #fd589e;
  --pink-primary-text: #ab024a;
  --pink-secondary: #38001b;
  --pink-text: rgba(56, 0, 27, 0.7);
  --pink-tertiary: #ffedf5;
  --yellow-primary: #ffd029;
  --yellow-primary-text: #806400;
  --yellow-secondary: #322606;
  --yellow-text: rgba(50, 38, 6, 0.7);
  --yellow-tertiary: #fff8e4;
  --blue-primary: #82d7ff;
  --blue-primary-text: #0093d9;
  --blue-secondary: #070035;
  --blue-text: rgba(7, 0, 53, 0.7);
  --blue-tertiary: #ebf8ff;
  --cyan-primary: #85efe3;
  --cyan-primary-text: #18b4a2;
  --cyan-secondary: #1c3232;
  --cyan-text: rgba(28, 50, 50, 0.7);
  --cyan-tertiary: #dcf5f2;
  --xmas-primary: #f10000;
  --xmas-primary-text: #d80000;
  --xmas-secondary: #380000;
  --xmas-text: rgba(56, 0, 0, 0.7);
  --xmas-tertiary: #f3f3e9;
  --theme-primary: var(--default-primary);
  --theme-primary-text: var(--default-primary-text);
  --theme-secondary: var(--default-secondary);
  --theme-text: var(--default-text);
  --theme-background: var(--default-tertiary);
  --theme-logo: var(--default-secondary);
  --theme-header-face: var(--default-primary);
  --header-height: 5.3125rem;
  --container-gutter: 20px;
  --bottom-fixed-offset: 0;
}

@media (min-width: 768px) {
  :root {
    --container-gutter: clamp(2.5rem, 2.6455026455vw, 3.325rem);
  }
}

html {
  overflow: hidden;
}

a {
  @apply cursor-pointer;
}

/***************** AVATAR *******************/

.avatar-x-small {
  @apply h-6 w-6 text-sm;
}

.avatar-small {
  @apply h-8 w-8 text-lg;
}

.avatar-large {
  @apply h-10 w-10 text-lg md:h-12 md:w-12 md:text-xl xl:h-16 xl:w-16 xl:text-3xl;
}

.avatar-x-large {
  @apply h-20 w-20 text-3xl md:h-24 md:w-24 md:text-4xl xl:h-28 xl:w-28 xl:text-5xl;
}

/***************** TABLE ROW ANIMATION *******************/

.group .group-invisible {
  @apply invisible;
}

.group .group-bg-gray-100 {
  @apply bg-black;
}

.group .group-hidden {
  @apply hidden;
}

.group .group-block {
  @apply block;
}

/***************** BUTTON *******************/

/* ICON BUTTON */

.icon-btn {
  @apply relative inline-flex items-center justify-center rounded-full p-1 transition duration-200 focus:outline-none;
}

.icon-btn:disabled {
  @apply disabled:cursor-default disabled:opacity-50;
}

/* .icon-btn:focus {
  @apply outline-none ring-2 ring-offset-2 dark:ring-charcoal-700 dark:ring-offset-charcoal-700;
} */

.icon-btn.icon-btn-contained {
  @apply text-gray-400 hover:text-gray-500;
}

.icon-btn.icon-btn-outlined {
  @apply border;
}

/* .icon-btn.icon-btn-contained.icon-btn-ring-offset-white {
  @apply hover:ring-offset-white focus:ring-offset-white dark:focus:ring-offset-charcoal-700;
}

.icon-btn.icon-btn-contained.icon-btn-ring-offset-gray {
  @apply hover:ring-offset-gray-900 focus:ring-offset-gray-900 dark:focus:ring-offset-charcoal-700;
} */

.icon-btn.icon-btn-outlined.icon-btn-ring-offset-white {
  @apply hover:ring-offset-white focus:ring-offset-white dark:focus:ring-offset-charcoal-700;
}

.icon-btn.icon-btn-outlined.icon-btn-ring-offset-gray {
  @apply hover:ring-offset-gray-900 focus:ring-offset-gray-900 dark:focus:ring-offset-charcoal-700;
}

/* BUTTON */

.btn {
  @apply relative inline-block h-auto min-h-0 rounded text-center text-sm font-medium transition duration-200;
}

.btn:disabled {
  @apply disabled:cursor-default disabled:opacity-50;
}

.btn:focus {
  @apply outline-none ring-2 ring-offset-2 dark:ring-slate-900 dark:ring-offset-slate-700;
}

.btn-rounded {
  @apply rounded-full;
}

.btn.noRing:focus {
  @apply ring-0 ring-transparent ring-offset-0 !important;
}

.btn.btn-contained {
  @apply border border-transparent text-white shadow-sm dark:bg-slate-900;
}

.btn.btn-outlined {
  @apply border shadow-sm dark:border-slate-900 dark:bg-transparent;
}

.btn.btn-outlined,
.btn.btn-contained {
  @apply px-2.5 py-2 sm:px-4 sm:py-2;
}

/*** Colors ***/

/* variant text */

.btn.btn-text.btn-red {
  @apply text-red-600 hover:text-red-700;
}

.btn.btn-text.btn-red:focus {
  @apply ring-red-600;
}

.btn.btn-text.btn-indigo {
  @apply text-indigo-500 hover:text-indigo-600 dark:text-white;
}

.btn.btn-text.btn-indigo:focus {
  @apply ring-indigo-500 dark:ring-white;
}

/* variant contained */

.btn.btn-contained.btn-indigo {
  @apply bg-indigo-600 hover:bg-indigo-700;
}

.btn.btn-contained.btn-indigo:focus {
  @apply ring-indigo-600;
}

.btn.btn-contained.btn-red {
  @apply bg-red-600 hover:bg-red-700;
}

.btn.btn-contained.btn-red:focus {
  @apply ring-red-600;
}

/* icon variant contained */

.icon-btn.icon-btn-contained.icon-btn-indigo {
  @apply bg-indigo-600 text-gray-300 hover:bg-indigo-700 hover:text-white dark:bg-transparent dark:hover:bg-transparent;
}

.icon-btn.icon-btn-contained.icon-btn-indigo:focus {
  @apply ring-indigo-600;
}

.icon-btn.icon-btn-contained.icon-btn-red {
  @apply bg-red-600 text-gray-300 hover:bg-red-700 hover:text-white dark:bg-transparent dark:hover:bg-transparent;
}

.icon-btn.icon-btn-contained.icon-btn-red:focus {
  @apply ring-red-600;
}

/* variant outlined */

.btn.btn-outlined.btn-indigo {
  @apply border-indigo-600 bg-transparent text-indigo-600 dark:text-indigo-300 dark:hover:text-indigo-100;
}

.btn.btn-outlined.btn-indigo:focus {
  @apply ring-indigo-600 ring-offset-white dark:ring-indigo-600 dark:ring-offset-charcoal-700;
}

.btn.btn-outlined.btn-red {
  @apply border-red-600 bg-transparent text-red-600 dark:text-red-300 dark:hover:text-red-100;
}

.btn.btn-outlined.btn-red:focus {
  @apply ring-red-600 ring-offset-white dark:ring-red-600 dark:ring-offset-charcoal-700;
}

.btn.btn-outlined.btn-gray {
  @apply border-gray-600 bg-transparent text-gray-600 dark:text-gray-300 dark:hover:text-gray-100;
}

.btn.btn-outlined.btn-gray:focus {
  @apply ring-gray-600 ring-offset-white dark:ring-gray-600 dark:ring-offset-charcoal-700;
}

/* variant outlined */

.icon-btn.icon-btn-outlined.icon-btn-indigo {
  @apply border-indigo-700 text-indigo-600;
}

.icon-btn.icon-btn-outlined.icon-btn-indigo:focus {
  @apply ring-indigo-600;
}

.icon-btn.icon-btn-outlined.icon-btn-red {
  @apply border-red-600 text-red-600;
}

.icon-btn.icon-btn-outlined.icon-btn-red:focus {
  @apply ring-red-600;
}

.icon-btn.icon-btn-outlined.icon-btn-gray {
  @apply border-gray-600 text-gray-600;
}

.icon-btn.icon-btn-outlined.icon-btn-gray:focus {
  @apply ring-gray-600;
}

/* dark state */

/* .dark .btn.btn-text:hover {
  @apply text-white;
}

.dark .btn.btn-contained {
  @apply bg-slate-900 hover:bg-slate-900 !important;
}

.dark .btn.btn-outlined {
  @apply border-slate-900 text-white hover:bg-slate-900 !important;
}

.dark .btn.btn-contained,
.dark .btn.btn-outlined {
  @apply ring-slate-900 !important;
} */

@media only screen and (max-width: 480px) {
  .Toastify__toast {
    margin-bottom: 0.5rem;
    border-radius: 4px;
    cursor: default;
    font-size: 14px;
  }
}

.var-container-gutter-0px {
  --container-gutter: 0px;
}

.progress-0 {
  --progress: 0;
}

.offset-feature-video {
  --offset: calc((1 - var(--progress)) * var(--container-gutter) - var(--container-gutter));
}

.var-w-14 {
  --width: 14;
}

.var-h-13 {
  --height: 13;
}

.var-w-289 {
  --width: 289;
}

.var-h-311 {
  --height: 311;
}

.var-w-63 {
  --width: 63;
}

.var-h-8 {
  --height: 8;
}

.var-w-13 {
  --width: 13;
}

.var-h-14 {
  --height: 14;
}

.var-w-22 {
  --width: 22;
}

.var-h-22 {
  --height: 22;
}

.var-w-24 {
  --width: 24;
}

.var-h-24 {
  --height: 24;
}

.var-w-26 {
  --width: 26;
}

.var-h-26 {
  --height: 26;
}

.var-text-icon-background-color {
  --text-color: var(--theme-secondary);
  --icon-color: var(--theme-secondary);
  --background-color: transparent;
}

.var-text-icon-background-color-anchor {
  --text-color: #fff;
  --icon-color: var(--theme-primary);
  --background-color: var(--theme-secondary);
}

.grid-template-areas-top-bottom {
  grid-template-areas: 'top' 'bottom';
}

.grid-area-top {
  grid-area: top;
}

.grid-area-bottom {
  grid-area: bottom;
}

.grid-template-areas-a {
  grid-template-areas: 'a';
}

.grid-template-areas-a-b {
  grid-template-areas: 'a' 'b';
}

@media (min-width: 992px) {
  .grid-template-areas-a-b {
    grid-template-areas: 'a b';
  }
}

.grid-template-areas-heading-columns {
  grid-template-areas: 'heading' 'columns';
}

.grid-template-areas-heading-content-image-stats {
  grid-template-areas: 'heading' 'content' 'image' 'stats';
}

@media (min-width: 992px) {
  .grid-template-areas-heading-content-image-stats {
    grid-template-areas:
      'heading heading'
      'content image'
      'stats image';
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto auto 1fr;
  }
}

.grid-template-areas-heading-columns-bottom-face {
  grid-template-areas: 'heading' 'columns' 'bottom' 'face';
}

@media (min-width: 992px) {
  .grid-template-areas-heading-columns-bottom-face {
    grid-template-areas:
      'heading face'
      'columns face'
      'bottom bottom';
  }
}

.grid-template-columns-auto-1fr-auto {
  grid-template-columns: auto 1fr auto;
}
