.contact-page {
  min-height: 100vh;
  margin-top: calc(var(--header-height) * -1);
  display: grid;
  position: relative;
  overflow: hidden;
}

.contact-bg-desktop {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact-bg-desktop .contact-image,
.contact-bg-desktop .contact-video {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 60% center;
}

.contact-image,
.contact-video {
  animation: page_fade-in__rb81d .4s ease-in-out forwards;
}

.contact-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.contact-video {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  z-index: -1;
}

.contact-container {
  grid-area: 1 / -1;
  padding-top: var(--header-height);
  z-index: 0;
  width: 100%;
  padding-left: var(--container-gutter);
  padding-right: var(--container-gutter);
  display: grid;
  align-items: center;
  grid-template-rows: auto auto;
  gap: clamp(2.25rem, 2.380952381vw, 2.9925rem);
}

.contact-content {
  padding: 8vw 0;
}

.contact-heading {
  color: #fff;
  line-height: 1;
  margin: 0 0 .3em;
  max-width: clamp(31.25rem, 65.1041666667vw, 41.5625rem);
  font-size: clamp(3.75rem, 7.8125vw, 4.9875rem);
}

.contact-button {
  font-size: clamp(1.2rem, 1.5vw, 1.5rem);
  padding: 1.2em;
  gap: 0.75em;
  border-radius: 3em;
}

.contact-button svg {
  font-size: 1.2em;
}

.contact-bg-mobile {
  display: block;
  margin-left: calc(clamp(5rem, 5.291005291vw, 6.65rem) * -1);
  margin-right: calc(clamp(5rem, 5.291005291vw, 6.65rem) * -1);
  margin-top: -10%;
  margin-bottom: -10%;
  animation: page_fade-in__rb81d .4s ease-in-out forwards;
  position: relative;
  z-index: -1;
}

.contact-footer {
  z-index: 1;
  width: 100%;
  padding-left: var(--container-gutter);
  padding-right: var(--container-gutter);
  align-self: flex-end;
  display: grid;
  grid-template-areas:
    "columns"
    "bottom";
  gap: 3.75rem;
  padding-bottom: 6.25rem;
}

.footer-columns {
  margin: 0;
  justify-content: space-between;
}

.footer-bottom {
  margin-top: 0;
  padding-top: 0;
}

@media (min-width: 768px) {
  .contact-footer {
    padding-bottom: 3.875rem;
  }

  .contact-bg-desktop {
    display: none;
    /* Hide desktop background on mobile */
  }

  .contact-bg-mobile {
    display: block;
    /* Show mobile background on mobile */
  }
}

@media (min-width: 992px) {
  .contact-container {
    --container-gutter: clamp(5rem, 5.291005291vw, 6.65rem);
  }

  .contact-heading {
    max-width: clamp(38.9375rem, 41.2037037037vw, 51.786875rem);
    font-size: clamp(6.25rem, 6.6137566138vw, 8.3125rem);
  }

  .contact-bg-desktop {
    display: block;
  }

  .contact-bg-mobile {
    display: none;
  }

  .contact-footer {
    gap: 0;
    max-width: none;
    grid-template-areas:
      "columns ."
      "bottom bottom";
    padding-left: clamp(5rem, 5.291005291vw, 6.65rem);
    padding-right: clamp(5rem, 5.291005291vw, 6.65rem);
    padding-bottom: clamp(3.875rem, 4.1005291005vw, 5.15375rem);
  }

  .footer-bottom {
    margin-top: clamp(5.875rem, 6.2169312169vw, 7.81375rem);
    padding-top: clamp(1.375rem, 1.455026455vw, 1.82875rem);
  }
}

@media (min-width: 1200px) {
  .contact-footer {
    grid-template-columns: 1fr 1fr;
  }
}