.testimonials {
    color: var(--theme-secondary);
    font-size: clamp(1.875rem, 3.90625vw, 2.49375rem);
}

.testimonials__slider {
    display: grid;
}

.testimonials__slider > * {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.testimonial {
    display: grid;
    grid-template-rows: 1fr auto;
    margin: 0;
    padding: 0;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    gap: clamp(1.875rem, 3.90625vw, 2.49375rem);
}

.testimonial--active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.testimonial__quote {
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

.testimonial__author {
    align-items: center;
    justify-self: flex-start;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 0 clamp(1.125rem, 1.1904761905vw, 1.49625rem);
}

.testimonial__author-name {
    display: flex;
    align-items: center;
    line-height: 1;
    font-weight: 500;
    font-size: clamp(1rem, 1.0582010582vw, 1.33rem);
}

.testimonial__author-position {
    font-weight: 500;
    font-size: clamp(.875rem, .9259259259vw, 1.16375rem);
    line-height: 1;
    opacity: .5;
}

.testimonial__author-position:nth-child(2) {
    align-self: end; /* changed from flex-end */
}

.testimonial__author-name:before {
    content: "";
    display: inline-block;
    height: clamp(.625rem, .6613756614vw, .83125rem);
    width: clamp(.625rem, .6613756614vw, .83125rem);
    background-color: currentColor;
    border-radius: 100vw;
    margin-right: .55em;
    margin-top: clamp(.0625rem, .0661375661vw, .083125rem);
}

/***************************************************** Responsive Styles *****************************************************/
/*****************************************************************************************************************************/

@media (min-width: 992px) {
    .testimonials {
        line-height: 1;
        font-size: clamp(2.5rem, 5.2083333333vw, 3.325rem);
    }

    .testimonial {
        gap: clamp(3.125rem, 3.3068783069vw, 4.15625rem);
    }
}

