.input-wrapper {
    position: relative;
}

.input {
    width: 100%;
    padding: 1em 0;
    font-size: inherit;
    border: none;
    border: solid rgba(0, 0, 0, .2);
    border-width: 0 0 1px;
    color: var(--error, rgba(18, 3, 42, .7));
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}

.input:focus {
    outline: none;
    border-color: var(--error, #b488f1);
    box-shadow: 0 1px 0 0 var(--error, #b488f1);
}

.input:focus::placeholder {
    color: var(--error, #b488f1);
    opacity: 0.6;
}