.feed {
    display: grid;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding-bottom: clamp(.625rem,.6613756614vw,.83125rem);
    overflow: hidden;
    margin-left: calc(-1*var(--feed-overflow, 0));
    margin-right: calc(-1*var(--feed-overflow, 0));
    color: rgba(0,0,0,.5);
    font-weight: 500
}

.feed__heading {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    justify-self: flex-start;
    font-size: clamp(3.75rem,3.9682539683vw,4.9875rem);
    color: var(--theme-secondary)
}

.feed__heading,.feed__inner {
    padding-left: var(--feed-overflow,0);
    padding-right: var(--feed-overflow,0)
}

.feed__inner {
    display: grid;
    grid-auto-columns: clamp(18.75rem,19.8412698413vw,24.9375rem);
    grid-auto-flow: column;
    grid-gap: clamp(1.25rem,1.3227513228vw,1.6625rem);
    gap: clamp(1.25rem,1.3227513228vw,1.6625rem);
    touch-action: manipulation;
    cursor: -webkit-grab;
    cursor: grab
}

.feed__inner:active {
    cursor: -webkit-grabbing;
    cursor: grabbing
}

.feed__shrink-drag {
    transition: transform .7s cubic-bezier(.5,.5,0,1) 0s
}

.feed__shrink-drag--dragging {
    transform: scale(.9) translateZ(0);
    transition: transform .7s cubic-bezier(.5,.5,0,1) .1s
}

.feed__item {
    flex: none;
    display: grid;
    justify-items: flex-start;
    align-content: flex-start;
    grid-gap: clamp(1.125rem,1.1904761905vw,1.49625rem);
    gap: clamp(1.125rem,1.1904761905vw,1.49625rem);
    position: relative
}

.feed__image {
    border-radius: clamp(1.25rem,1.3227513228vw,1.6625rem);
    overflow: hidden;
    display: grid;
    width: 100%
}

.feed__picture {
    grid-area: 1/-1;
    pointer-events: none;
    transition: transform .4s ease-in-out
}

.feed__tag {
    grid-area: 1/-1;
    align-self: flex-end;
    z-index: 0;
    justify-self: flex-start;
    color: #fff;
    margin: clamp(.625rem,1.3020833333vw,.83125rem);
    font-size: clamp(.875rem,1.8229166667vw,1.16375rem);
    padding: clamp(.5rem,.5291005291vw,.665rem) clamp(.625rem,.6613756614vw,.83125rem);
    border-radius: 100vw;
    font-weight: 500
}

@media(min-width: 992px) {
    .feed__tag {
        margin:clamp(1rem,1.0582010582vw,1.33rem);
        font-size: clamp(.8125rem,.8597883598vw,1.080625rem)
    }
}

.feed__date {
    font-size: clamp(.8125rem,.8597883598vw,1.080625rem)
}

.feed__content {
    font-size: clamp(1.125rem,1.1904761905vw,1.49625rem);
    line-height: 1.5
}

.feed__title {
    color: #000;
    display: inline;
    font-size: inherit;
    margin: 0
}

.feed .feed__link {
    font-size: clamp(.9375rem,.9920634921vw,1.246875rem);
    --text-color: rgba(0,0,0,.5);
    transition: color .15s ease-in-out;
    text-decoration: underline;
    transition: .15s ease-in-out;
    transition-property: color,background,-webkit-text-decoration-color;
    transition-property: color,text-decoration-color,background;
    transition-property: color,text-decoration-color,background,-webkit-text-decoration-color;
    margin: 0 -.8em
}

@media(hover: hover) {
    .feed .feed__link:hover {
        --text-color:#fff;
        -webkit-text-decoration-color: transparent;
        text-decoration-color: transparent
    }
}

.feed .feed__link:focus {
    --text-color: #fff;
    -webkit-text-decoration-color: transparent;
    text-decoration-color: transparent
}