.submenu-container {
  --max-height: calc(var(--height) * 0.0625rem);
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 22px;
  -webkit-clip-path: inset(round 22px round 22px round 22px round 22px);
  clip-path: inset(round 22px round 22px round 22px round 22px);
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.025);
  width: 100%;
  height: 100vh;
  max-height: var(--max-height, 41.25rem);
  background-color: hsla(0, 0%, 100%, 0.7);
  padding-bottom: 0;
  border-radius: 1.375rem;
  transition: all 0.3s ease-in-out;
}

[data-submenu-open='true'] .submenu-container {
  background-color: #fff;
}

.submenu-inner {
  height: auto;
  border-radius: 22px;
  transition: opacity ease-in-out;
  background-color: #fff;
}

[data-submenu-open='false'] .submenu-inner {
  opacity: 0;
  transition-delay: 0s;
  transition-duration: 0.15s;
}

[data-submenu-open='true'] .submenu-inner {
  opacity: 1;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
}

.submenu {
  display: grid;
  /* grid-auto-flow: column; */
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto;
  z-index: -1;
  overflow: visible;
  /* grid-gap: 2.5rem; */
  /* gap: 2.5rem; */
  column-gap: 2.5rem;
  transition: width ease-in-out;
}

[data-submenu-open='false'] .submenu {
  transition-duration: 0.25;
}

.submenu-inner__gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background: linear-gradient(0deg, #fff 0, #fff 70%, hsla(0, 0%, 100%, 0));
}

.submenu-inner__spacer {
  height: 5rem;
  width: 100%;
}

[data-submenu-open='true'] .submenu {
  transition-delay: 0.1s;
  transition-duration: 0.2s;
}

.submenu__group {
  overflow: visible;
  width: max-content;
}

.submenu__heading {
  color: var(--theme-secondary);
  font-size: 1.125rem;
  margin: 0;
  line-height: 1;
}

.submenu__list {
  list-style: none;
  display: grid;
  padding: 0;
  grid-gap: 0.125rem;
  gap: 0.125rem;
  margin: 1rem 0 0;
}

.submenu__link {
  display: grid;
  grid-template-columns: 0.75rem 1fr;
  grid-gap: 0.5rem;
  gap: 0.5rem;
  align-items: center;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 10px;
  transition:
    background 0.15s,
    color 0.15s,
    padding 0.15s;
  text-decoration: none;
  color: var(--theme-secondary);
  font-weight: 500;
  --hover-background: var(--theme-background);
  --hover-border: var(--theme-primary);
  --hover-color: var(--theme-secondary);
  position: relative;
  padding: 0.62em 0.675em;
  margin: 0 -0.675em;
  color: rgba(0, 0, 0, 0.6);
}

.submenu__link:before {
  content: '';
  pointer-events: none;
  position: absolute;
  border: 1px solid transparent;
  border-radius: inherit;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  transition: border 0.15s ease-in-out;
  opacity: 0.5;
}

.submenu__link--cyan {
  --hover-background: var(--cyan-tertiary);
  --hover-border: var(--cyan-primary);
  --hover-color: var(--cyan-secondary);
}

.submenu__link--pink {
  --hover-background: var(--pink-tertiary);
  --hover-border: var(--pink-primary);
  --hover-color: var(--pink-secondary);
}

.submenu__link--blue {
  --hover-background: var(--blue-tertiary);
  --hover-border: var(--blue-primary);
  --hover-color: var(--blue-secondary);
}

.submenu__link--green {
  --hover-background: var(--green-tertiary);
  --hover-border: var(--green-primary);
  --hover-color: var(--green-secondary);
}

.submenu__link--purple {
  --hover-background: var(--purple-tertiary);
  --hover-border: var(--purple-primary);
  --hover-color: var(--purple-secondary);
}

.submenu__link-icon {
  margin-top: 0.1em;
  color: var(--hover-border);
}

/***************************************************** Responsive Styles *****************************************************/
/*****************************************************************************************************************************/
@media (max-width: 767px) {
  .submenu-container {
    border-top: 1px solid #fff;
    height: 64vh;
    bottom: 0;
  }
}

@media (min-width: 768px) {
  .submenu-container {
    top: 0;
  }

  [data-columns='4'] .submenu-container {
    border-radius: 1.875rem;
  }

  [data-submenu-open='true'][data-columns='4'] .submenu-container {
    /* width: 180%; */
    width: 200%;
    left: -40%;
  }

  .submenu {
    margin-inline: auto;
    padding-inline: 2.1875rem;
    padding-top: 1.25rem;
    top: 0;
  }

  [data-submenu-open='false'] .submenu {
    width: 100%;
  }

  [data-submenu-open='true'] .submenu {
    width: max-content;
  }

  .submenu-inner__gradient {
    display: none;
  }

  .submenu-inner__spacer {
    display: none;
  }

  .submenu__group {
    margin-bottom: 20px;
    margin-top: 3.75rem;
  }

  .submenu__group:nth-child(4),
  .submenu__group:nth-child(5) {
    margin-top: 0;
  }
}