@media(min-width: 768px) {
    .word {
        -webkit-clip-path:inset(0 0 100%);
        clip-path: inset(0 0 100%)
    }

    @keyframes mask-down {
        to {
            -webkit-clip-path: inset(0 0 -50%);
            clip-path: inset(0 0 -50%)
        }
    }
}