.var-container-gutter-0px {
  --container-gutter: 0px;
}

html {
  overflow: hidden;
}

.aspect-x-1452 {
  --aspect-x: 1452;
}

.aspect-x-710 {
  --aspect-x: 710;
}

.aspect-y-890 {
  --aspect-y: 890;
}

.progress-0 {
  --progress: 0;
}

.offset-feature-video {
  --offset: calc((1 - var(--progress)) * var(--container-gutter) - var(--container-gutter));
}

.var-w-14 {
  --width: 14;
}

.var-h-13 {
  --height: 13;
}

.var-w-289 {
  --width: 289;
}

.var-h-311 {
  --height: 311;
}

.var-w-63 {
  --width: 63;
}

.var-h-8 {
  --height: 8;
}

.var-w-13 {
  --width: 13;
}

.var-h-14 {
  --height: 14;
}

.var-w-22 {
  --width: 22;
}

.var-h-22 {
  --height: 22;
}

.var-w-24 {
  --width: 24;
}

.var-h-24 {
  --height: 24;
}

.var-w-26 {
  --width: 26;
}

.var-h-26 {
  --height: 26;
}

.var-text-icon-background-color {
  --text-color: var(--theme-secondary);
  --icon-color: var(--theme-secondary);
  --background-color: transparent;
}

.var-text-icon-background-color-anchor {
  --text-color: #fff;
  --icon-color: var(--theme-primary);
  --background-color: var(--theme-secondary);
}

.grid-template-areas-top-bottom {
  grid-template-areas: 'top' 'bottom';
}

.grid-area-top {
  grid-area: top;
}

.grid-area-bottom {
  grid-area: bottom;
}

.grid-template-areas-a {
  grid-template-areas: 'a';
}

.grid-template-areas-a-b {
  grid-template-areas: 'a' 'b';
}

@media (min-width: 992px) {
  .grid-template-areas-a-b {
    grid-template-areas: 'a b';
  }
}

.grid-template-areas-heading-columns {
  grid-template-areas: 'heading' 'columns';
}

.grid-template-areas-heading-content-image-stats {
  grid-template-areas: 'heading' 'content' 'image' 'stats';
}

@media (min-width: 992px) {
  .grid-template-areas-heading-content-image-stats {
    grid-template-areas:
      'heading heading'
      'content image'
      'stats image';
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto auto 1fr;
  }
}

.grid-template-areas-heading-columns-bottom-face {
  grid-template-areas: 'heading' 'columns' 'bottom' 'face';
}

@media (min-width: 992px) {
  .grid-template-areas-heading-columns-bottom-face {
    grid-template-areas:
      'heading face'
      'columns face'
      'bottom bottom';
  }
}

.grid-template-columns-auto-1fr-auto {
  grid-template-columns: auto 1fr auto;
}
.grid-template-columns-repeat-2-auto-1fr {
  grid-template-columns: repeat(2, minmax(auto, 1fr));
}
.about-hero {
  --image-top: 46.2962962963vw;
}

@media (min-width: 992px) {
  .custom-hero {
      --image-top: max(13.2275132275vw, 30vh);
  }
}
.translate-custom {
  transform: translate3d(0, calc(var(--scrollY) * 0.2px), 0);
}