.homepage-bottom__heading {
  max-width: 100%;
}

.content-aside-image__paragraph {
  margin-bottom: calc(1.875rem * 0.8);
}

@media (min-width: 992px) {
  .homepage-bottom__heading {
    line-height: 1;
  }

  .content-aside-image__paragraph {
    margin-bottom: calc(clamp(2.5rem, 2.6455026455vw, 3.325rem) * 0.8);
  }
}
