.textarea {
    width: 100%;
    padding: .8em;
    font-size: inherit;
    border: none;
    border: 1px solid rgba(0,0,0,.2);
    color: var(--error,var(--theme-text));
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: clamp(.625rem,.6613756614vw,.83125rem);
    resize: none;
    margin-top: 1em;
    background: transparent;
}

.textarea::placeholder {
    opacity: .5;
    color: var(--error,var(--theme-text))
}

.textarea:focus {
    outline: none;
    border-color: var(--error,var(--theme-primary));
    box-shadow: 0 0 0 1px var(--error,var(--theme-primary))
}

.textarea:focus::placeholder {
    color: var(--error,var(--theme-primary))
}