.logo-grid {
    display: grid;
    list-style: none;
    margin: 0;
    padding: 0;
    grid-gap: clamp(.25rem, .2645502646vw, .3325rem);
    gap: clamp(.25rem, .2645502646vw, .3325rem);
    grid-template-columns: repeat(3, minmax(auto, 1fr));
}

.logo-grid__item {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    position: relative;
}

.logo-grid__card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: hsla(0, 0%, 100%, .2);
    overflow: hidden;
}

.logo-grid__card:after,
.logo-grid__card:before {
    border-radius: inherit;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.logo-grid__card:before {
    border-top: 2px solid var(--border-top-color);
}

.logo-grid__specular {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.logo-grid__specular:before {
    filter: blur(30px);
    border-radius: 100vw;
    content: "";
    position: absolute;
    left: 100%;
    top: 100%;
    width: 80px;
    height: 80px;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

.logo-grid__card:after {
    border-left: 2px solid var(--border-left-color);
}

.logo-grid__logo {
    overflow: visible;
    transform: translateZ(500px);
    --target-area: 46 * 24;
    --current-area: calc(var(--height) * var(--width));
    --ratio: calc(var(--target-area) / var(--current-area));
    --number: var(--ratio);
    --guess01: calc((var(--number) + (var(--number) / var(--number))) / 2);
    --guess02: calc((var(--guess01) + (var(--number) / var(--guess01))) / 2);
    --guess03: calc((var(--guess02) + (var(--number) / var(--guess02))) / 2);
    --guess04: calc((var(--guess03) + (var(--number) / var(--guess03))) / 2);
    --factor: calc((var(--guess04) + (var(--number) / var(--guess04))) / 2);
    width: clamp(calc(var(--factor) * var(--width)) / 16 * 1rem, calc(var(--factor) * var(--width)) / 480 * 100vw, calc(calc(var(--factor) * var(--width)) * 1.33) / 16 * 1rem);
    height: clamp(calc(var(--factor) * var(--height)) / 16 * 1rem, calc(var(--factor) * var(--height)) / 480 * 100vw, calc(calc(var(--factor) * var(--height)) * 1.33) / 16 * 1rem);
}


/***************************************************** Responsive Styles *****************************************************/
/*****************************************************************************************************************************/

@media (min-width: 768px) {
    .logo-grid {
        gap: clamp(.5rem, .5291005291vw, .665rem);
    }

    .logo-grid__logo {
        --target-area: 130 * 34;
    }

    .logo-grid__logo {
        width: clamp(calc(var(--factor) * var(--width)) / 16 * 1rem, calc(var(--factor) * var(--width)) / 1512 * 100vw, calc(calc(var(--factor) * var(--width)) * 1.33) / 16 * 1rem);
        height: clamp(calc(var(--factor) * var(--height)) / 16 * 1rem, calc(var(--factor) * var(--height)) / 1512 * 100vw, calc(calc(var(--factor) * var(--height)) * 1.33) / 16 * 1rem);
    }
}

@media (min-width: 992px) {
    .logo-grid {
        grid-template-columns: repeat(5, minmax(auto, 1fr));
    }
}

@media (min-width: 1200px) {
    .logo-grid__logo {
        --target-area: 130 * 34;
    }
}