.showreel {
  display: grid;
  position: relative;
  z-index: 1;
  border-radius: inherit;
  /* --progress: 0; */
}

.showreel__inner {
  position: relative;
  display: grid;
  overflow: hidden;
  transform: translateZ(0);
  border-radius: 30px;
}

.picture {
  display: block;
  line-height: 0;
  max-width: 100%;
}

.showreel .showreel__image {
  border-radius: inherit;
}

.showreel .showreel__image,
.showreel .showreel__video {
  width: 100%;
  object-fit: cover;
  grid-area: 1 / -1;
  aspect-ratio: 1 / 1;
}

.picture img {
  object-fit: cover;
}

.picture--responsive img {
  width: 100%;
  height: auto;
}

.showreel .showreel__image img {
  transition: outline 0.4s;
  border: 0.5px solid transparent;
  border-radius: inherit;
  outline-offset: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.showreel__video {
  border-radius: inherit;
  z-index: 0;
}

.showreel__video--mobile {
  opacity: 0;
  z-index: -1;
}

@media (max-width: 991px) {
  .showreel__video--desktop {
    display: none;
  }
}

@media (min-width: 992px) {
  .showreel-wrapper {
    height: 200vh;
  }

  .showreel {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
  }

  .showreel__inner {
    position: absolute;
    height: 100%;
    --offset: calc((1 - var(--progress)) * var(--container-gutter) - var(--container-gutter));
    left: var(--offset);
    right: var(--offset);
  }

  .showreel .showreel__image,
  .showreel .showreel__video {
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: center;
  }

  .HomepageShowreel_showreel__video--mobile__M1igg {
    display: none;
  }
}

@media (min-width: 1400px) {
  .homepage__hero {
    margin-top: calc(var(--header-height) * -1);
  }
}
