.frame-wrap {
  display: grid;
  z-index: 1;
  align-items: flex-start;
}

.frame-wrap > * {
  grid-column: 1;
  grid-row: 1;
}

.page-wrap {
  position: relative;
  background: var(--theme-background, #f3f3e9);
  transition: background 0.4s ease-in-out;
  z-index: 1;
  border-radius: 0 0 60px 60px;
  padding-top: var(--header-height);
  min-height: 100vh;
}

.frame-wrap > .page-wrap {
  grid-row: 1;
}
