<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Progressive Web Application Settings -->
    <!-- <link rel="manifest" href="<%= htmlWebpackPlugin.options.NEXT_PUBLIC_TROOPHUNTER_APP_URL %>/webmanifest/site.webmanifest" /> -->
    <!-- PWA status bar color -->
    <meta name="theme-color" content="#f3f4f6" />

    <!-- Apple icons -->
    <!-- iPhone 6 Plus, iPhone 7, iPhone 8, etc. -->
    <link rel="apple-touch-icon" sizes="180x180" href="<%= htmlWebpackPlugin.options.NEXT_PUBLIC_TROOPHUNTER_APP_URL %>/apple-touch-icon/apple-touch-icon.png" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="<%= htmlWebpackPlugin.options.NEXT_PUBLIC_TROOPHUNTER_APP_URL %>/favicon/favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.options.NEXT_PUBLIC_TROOPHUNTER_APP_URL %>/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.options.NEXT_PUBLIC_TROOPHUNTER_APP_URL %>/favicon/favicon-16x16.png" />
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="./src/main.js"></script>
  </body>
</html>
