.modal-close-button {
    position: relative;
    z-index: 0;
    mix-blend-mode: luminosity;
    justify-self: flex-end;
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: #fff;
    background: none;
    border: none;
    padding: 0;
    /* margin: .625rem; */
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100vh;
    white-space: nowrap;
    box-sizing: content-box;
    cursor: pointer;
    transition: color .15s ease-in-out, background .15s ease-in-out;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: -webkit-sticky;
    position: sticky;
    top: 30px
}

.modal-close-button:before {
    content: "";
    pointer-events: none;
    position: absolute;
    border-radius: inherit;
    background: rgba(51, 51, 51, .5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: background .15s ease-in-out
}

@media(min-width: 992px) {
    .modal-close-button {
        top: 45px
    }
}

.modal-close-button svg {
    font-size: 1.125rem
}

.modal-close-button:focus {
    outline: none
}

.modal-close-button:focus-visible {
    outline: 2px dashed #000;
    outline-offset: 2px
}

@media(hover: hover) {
    .modal-close-button:hover {
        color: #000
    }

    .modal-close-button:hover:before {
        background-color: #fff
    }
}

.modal-close-button:focus-visible {
    color: #000
}

.modal-close-button:focus-visible:before {
    background-color: #fff
}