.homepage {
  display: block;
}

.homepage__purple-change {
  width: 100%;
  padding-left: var(--container-gutter);
  padding-right: var(--container-gutter);
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-areas: 'top' 'bottom';
}

.homepage__purple-change > :first-child {
  grid-area: top;
}

.homepage__purple-change > :last-child {
  grid-area: bottom;
}

.homepage__showreel {
  grid-area: top / bottom;
}

.homepage__section {
  display: grid;
}

.homepage .work-grid {
  margin-top: -50vh;
  max-width: calc(clamp(89.5rem, 94.708994709vw, 119.035rem) + var(--container-gutter) * 2);
  padding-left: var(--container-gutter);
  padding-right: var(--container-gutter);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.showcase {
  max-width: calc(clamp(89.5rem, 94.708994709vw, 119.035rem) + var(--container-gutter)*2);
  padding-left: var(--container-gutter);
  padding-right: var(--container-gutter);
  width: 100%;
  color: var(--theme-secondary);
  display: grid;
  align-items: center;
  align-content: center;
  padding-bottom: 50vh;
  box-sizing: content-box;
  width: auto;
  margin: clamp(7.5rem, 15.625vw, 9.975rem) auto
}

@media(min-width: 992px) {
  .showcase {
    min-height: auto;
    margin-top: clamp(17.5rem, 18.5185185185vw, 23.275rem);
    /* margin-bottom: clamp(17.5rem, 18.5185185185vw, 23.275rem) */
  }
}

.showcase .showcase__heading {
  color: var(--theme-secondary);
  text-align: center;
  max-width: clamp(78.75rem, 83.3333333333vw, 104.7375rem);
  margin-left: auto;
  margin-right: auto;
  line-height: 1;
  font-size: clamp(2.1875rem, 4.5572916667vw, 2.909375rem);
  margin-bottom: clamp(5rem, 10.4166666667vw, 6.65rem)
}

@media(min-width: 992px) {
  .showcase .showcase__heading {
    font-size: clamp(6.25rem, 6.6137566138vw, 8.3125rem);
    margin-bottom: clamp(7.5rem, 7.9365079365vw, 9.975rem)
  }
}