.categories-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(0.625rem, 0.6613756614vw, 0.83125rem);
}

.category {
  display: inline-block;
  padding: clamp(0.625rem, 0.6613756614vw, 0.83125rem) clamp(0.75rem, 0.7936507937vw, 0.9975rem);
  font-size: clamp(0.9375rem, 0.9920634921vw, 1.246875rem);
  line-height: 1;
  color: var(--theme-secondary);
  background-color: #fff;
  border: none;
  border-radius: clamp(62.5rem, 66.1375661376vw, 83.125rem);
  cursor: pointer;
  text-decoration: none;
  transition-property: color, background, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  position: relative;
}

.category:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  left: clamp(-0.3125rem, -0.3306878307vw, -0.415625rem);
  right: clamp(-0.3125rem, -0.3306878307vw, -0.415625rem);
  top: clamp(-0.3125rem, -0.3306878307vw, -0.415625rem);
  bottom: clamp(-0.3125rem, -0.3306878307vw, -0.415625rem);
}

.category.is-active {
  color: var(--theme-primary);
  background-color: var(--theme-secondary);
}
